<p>
  <b>Question :</b>
  <%= @question.title %>
</p>

<p>
  <b>Nombre de points :</b>
  <%= @question.points %>
</p>

<%= link_to 'Ajouter une réponse', :controller => "reponses", :action => "new", :quest => @question %> |
<%= link_to 'Editer', edit_question_path(@question) %>
