body{
margin:0px;
padding:0px;
background-image:url('../images/bg.png');
font-family:"Comic Sans MS";
}

#principal{
margin-top:20px;
margin-left:auto;
margin-right:auto;
width:794px;
}

#menu{
margin-left:12px;
margin-bottom:5px;
width:800px;
font-size:10pt;
text-align:center;
min-height:30px;
}

a.lienmenu, a.lienmenu:visited, a.lienmenu:hover{
font-weight:normal;
color:#00c9e0;
text-decoration:none;
background-color:transparent;
line-height:26px;
display:inline-block;
padding:2px;
width:147px;
height:29px;
overflow:hidden;
margin-right:3px;
text-align:center;
}

a.lienmenu{
background-image:url('../images/menu.png');
}

a.lienmenu:hover{
background-image:url('../images/menu_hover.png');
}

#contenu{
width:794px;
color:#00c9e0;
}

#haut{
width:794px;
height:54px;
background:url('../images/haut.png') no-repeat;
text-align:center;
font-size:18pt;
font-family:"Century Schoolbook L";
font-weight:bold;
font-style:italic;
}

#trait{
width:540px;
height:2px;
text-align:center;
margin:auto;
background-color:rgb(50,50,50);
margin-bottom:20px;
}

#milieu{
background:url('../images/milieu.png') repeat-y;
width:794px;
min-height:281px;
padding-top:20px;
text-align:center;
font-size:10pt;
}

#texte{
display:inline-block;
text-align:left;
overflow:hidden;
}

#bas{
width:794px;
height:60px;
background:url('../images/bas.png') no-repeat;
}

#entete{
width:794px;
height:70px;
padding:5px;
text-align:center;
}

#titre{
text-decoration : none;
background-color:transparent; 
}

#pied{
margin-top:5px;
width:794px;
padding:5px;
border-top:thin solid gray;
text-align:center;
font-weight:italic;
font-size:8pt;
color:gray;
}

a{ 
font-weight:bold;
color: white; 
text-decoration : none;
}

a:hover 
{
color: #fff; 
background-color:#2b2a2a; 
padding : 5px;
}

#notice{ 
width : 700px;
padding : 5px;
margin : 20px;
background-color: #006600; 
border: 1px solid #0F0; 
color : white;
}

#error{ 
color : white;
width : 700px;
margin : 20px;
padding : 5px;
background-color: #660000; 
border: 1px solid #F00; 
}

td{
height : 20px;
width : 120px;
}
