<% if @users.count !=0 %>
<table>
  <tr>
    <th>Nom</th>
    <th>Score</th>
    <% if session_admin? %> <th></th> <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to_if(session_admin?, user.name, user) do user.name end %></td>
    <td><%= user.score %></td>
    <% if session_admin? %>
      <td><%= link_to 'Supprimer', user, :confirm => 'Etes-vous sûr?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% end %>

<%= link_to_if(session_admin?, 'Nouvel utilisateur', new_user_path) do end %>
