<table>
  <tr>
    <th>Nom</th>
    <th>Score</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.score %></td>
    <% if session_admin? %>
      <td><%= link_to 'Supprimer', user, :confirm => 'Etes-vous sûr?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvel utilisateur', new_user_path %>
