<p>
  <b>Nom:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Score:</b>
  <%= @user.score %>
</p>

<p>
  <b>Statut:</b>
  <% if @user.admin then %>
    Admin
  <% else %>
    Joueur
  <% end %>
</p>


<%= link_to 'Editer', edit_user_path(@user) %>
