<p>
  <b>Nom :</b>
  <%= @category.name %>
</p>

<p>
  <b>Popularite :</b>
  <%= @category.popularity %>
</p>

<p>
  <b>Nombre de questionnaires :</b>
  <%= @category.nb_mcq %>
</p>


<%= link_to_if(session_admin?, 'Editer', edit_category_path(@category)) do end %>
